.navbar {
  .active {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: calc(100% + 28px);
      width: 4px;
      height: 100%;
      background-color: $primary;
    }
  }
}
.sidebar {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
}
